* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 28px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e90ff42;
    border-radius: 3px;
    cursor:pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1e90ff9c;
}
* {
    box-sizing: border-box;
/*     overflow: hidden; */
}
input[type='checkbox'] {
    transform: scale(1.5);
    margin-top: 18px;
    outline: none;
}



button,input[type='checkbox'] {
    cursor:pointer;
}
button:active {
    background:#ccc;
}
a,.show-more {
    text-decoration:none;
    color: dodgerblue;
    cursor: pointer;
}
a:hover,.show-more:hover {
    text-decoration: underline;
}
body {
    overflow-y: scroll;
    background-color: #f7fbf5;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background: white;
    box-shadow: none;
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0px;
    z-index:100;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(240, 128, 128, 0.52);
    transition: all .15s linear;
}
.navbar .nav-item {
    max-height: 37px!important;
    /* overflow: hidden; */
    padding: 8px 10px;
    color: black;
    width: 100px;
    font-size: 16px;
    background: #dbdfe2;
    border-radius: 3px;
    margin:0px 5px;
    text-align: center;
    cursor: pointer;
    transition-duration:.1s;
    box-sizing:border-box;
    position: relative;
    line-height: 19px;
}
.nav-item.dashboard {
  min-width: 128px!important;
}
.nav-item.notification {
  min-width: 147px!important;
}
.nav-item.new-poll {
  min-width: 128px!important;
}
.nav-item.massege {
  min-width: 128px!important;
}
.navbar .nav-item::before {
    content:"";
    width:10px;
    height:100%;
    position:absolute;
    left:-8px;
    top:0px;
    background:#9e9e9ea6;
}
.nav-item.notification:hover path {
    fill: white!important;
}

.nav-item.notification:hover span:nth-child(2n) {
/*     border-color: white; */
}

.navbar .nav-item:hover {
    background: dodgerblue;
    color:white;
}

.navbar .nav-item span {
    border: 2px solid transparent;
}
.nav-item .add-new-poll-icon {
    border: 2px solid transparent;
}
.nav-item:hover .add-new-poll-icon {
    border: 2px solid white;
}

.navbar .nav-item:hover span {
    /* border: 2px solid white; */
}
.navbar a {
  text-decoration: none!important;
}
.login-modal-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    z-index: 1001;
    top: 0px;
    left: 0px;
    display: none;
}

.login-modal-container {
    width: 400px;
    min-height: 300px;
    border-radius: 10px;
    margin: 100px auto;
    background: white;
    overflow: hidden;
    animation: showHoot .2s ease 0s 1;
    transform-origin: center;
}

.jello {
}


@keyframes jello {
  from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}



.login-modal-header {
    background: dodgerblue;
    color: white;
    padding: 20px 40px;
    position: relative;
    font-size: 24px;
}

.close-login-container {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #aaa;
}

.close-login-container {
  color:white;
}
.close-login-container:hover {
  color:lightcoral;
  text-shadow:0px 0px 10px red;
}

.login-modal-body {
    padding: 20px;
    position: relative;
}

.login-modal-body input {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    border:1px solid #aaa;
    margin-bottom:20px;
}

.login-modal-body button {
    width: 43%;
    margin-top: 20px;
    padding: 10px 0px;
    font-family: sans-serif;
}

.login-modal-body button:first-child {
}

.signin-button {
    background: linear-gradient(45deg, dodgerblue, #bcdeff);
    color: white;
    margin-right: 28px;
}

/* ---------------------------------------------------------------------------------------------- */

.delete-con-modal-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    z-index: 1001;
    top: 0px;
    left: 0px;
    display: none;
}

.delete-con-modal-container {
    width: 400px;
    min-height: 200px;
    border-radius: 10px;
    margin: 100px auto;
    background: white;
    overflow: hidden;
    animation: showHoot .2s ease 0s 1;
    transform-origin: center;
}


@keyframes jello {
  from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}



.delete-con-modal-header {
    background: #ddd;
    color: black;
    padding: 10px;
    position: relative;
    text-indent: 32px;
}

.close-delete-con-container {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #000;
}
.close-delete-con-container:hover {
  color:white;
  text-shadow:0px 0px 15px  #ffff;
}

.delete-con-modal-body {
    padding: 20px;
}

.delete-con-modal-body input {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    border:1px solid #aaa;
    margin-bottom:20px;
}

.delete-con-modal-body button {
    width: 45%;
    margin-top: 20px;
    margin-right: 12px;
    padding: 10px 0px;
    font-family: sans-serif;
}

.delete-con-modal-body button:first-child {
  background: white;
  border: 1px solid lightcoral;
  color: lightcoral;
  transition:all .1s linear;
}

.delete-con-modal-body button:first-child:hover {
  background: lightcoral;
  border: 1px solid white;
  color: white;
}
.delete-con-modal-body button:nth-child(2n) {
  background: white;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.delete-con-modal-body button:nth-child(2n):hover {
  background: dodgerblue;
  border: 1px solid white;
  color: white;
  transition:all .1s linear;
}

.signin-button {
    background: linear-gradient(45deg, dodgerblue, #bcdeff);
    color: white;
    margin-right: 28px;
}

div#not {
    width: 300px;
    position: absolute;
    min-height: 200px;
    max-height: 330px;
    background: black;
    top: 150%;
    left: 44%;
    transform: translateX(-25%);
    box-shadow: 5px 5px 20px #000000d4;
    display:none;
    cursor: default;
    border-radius: 4px;
    color: white!important;
    text-decoration: unset!important;
    /* overflow: hidden; */
    /* overflow: hidden; */
    z-index: 102;
}
div#not a:hover{
    text-decoration: underline!important;
}
div#not::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #000000a8;
    display: block;
    position: absolute;
    top: -20px;
    left: 6%;
    transform: translateX(0%);
}
.notification-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.notification-close:hover {
  /* border:none!important; */
}
.notification-list-header {
  position: relative;
  padding: 5px 0px;
  text-align: left;
  text-indent: 10px;
  overflow: hidden;
  color: #f4f4f4;
  margin: 0px 0px 5px 0px;
  background: #414141;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.notification-list {
  margin-top:10px;
  width: 100%;
}
.notification-list {
  /* overflow-y: auto; */
  max-height: 250px;
}
.notification-list-body {
  max-height: 250px;
  overflow-y:auto;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.notification-list .single-notification {
  width: 100%;
  min-height: 50px;
  background: #f1f6fa;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.delete-notification {
  color: black;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
  /* display: none; */
}

.not-poll-link {
  font-weight:bold;
  color: black;
  font-size:18px;
}
.not-poll-link:hover {
  text-decoration: underline!important;
  color: dodgerblue;
}

/*  ---------------------------------------------------------------------------------------------- */
.active {
  background: dodgerblue;
  color:white;
}
.show {
  display:block!important;
}

.hide {
  display:block!important;
}
.visible {
  visibility:visible!important;
}
.high {
  background: dodgerblue!important;
  color: white!important;
}
.liked {
/*   background: dodgerblue!important; */
  color:dodgerblue!important;
}
.disliked {
/*   background: lightcoral!important; */
  color:red!important;
}

/* ---------------------------------------------------------------------------------------------- */
button {
    padding: 4px 13px;
    outline: none;
    border: none;
    border-radius: 3px;
    transform: translateY(-8px);
    /* box-shadow: 2px 2px 10px #6e6e6e; */
    background: #4c7fdb;
    color: white;
    margin-right: 14px;
    font-family:verdana;
    font-weight:bold;
}
button:hover {
    background:#2a68d3;
}


/* --------------------------------Delete comment Modal Styles-------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------- */

.delete-comment-modal-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    z-index: 1001;
    top: 0px;
    left: 0px;
    display: none;
}

.delete-comment-modal-container {
    width: 400px;
    min-height: 200px;
    border-radius: 10px;
    margin: 100px auto;
    background: white;
    overflow: hidden;
    transform: scale(1);
    animation: showHoot  .1s ease 0s 1;
}

@keyframes showHoot {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


.delete-comment-modal-header {
    background: black;
    color: white;
    padding: 10px;
    position: relative;
    text-indent: 32px;
}

.close-delete-comment-container {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #aaa;
}

.delete-comment-modal-body {
    padding: 20px;
}

.delete-comment-modal-body input {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    border:1px solid #aaa;
    margin-bottom:20px;
}

.delete-comment-modal-body button {
    width: 45%;
    margin-top: 20px;
    margin-right: 12px;
    padding: 10px 0px;
    /* font-family: sans-serif; */
    font-size: 17px;
}

.delete-comment-modal-body button:first-child {
  background: white!important;
  border: 1px solid red;
  color: red;
  /* font-size: 16px; */
}
.delete-comment-modal-body button:first-child:hover {
  background: red!important;
  border: 1px solid red;
  color: white;
}
.delete-comment-modal-body button:nth-child(2n) {
  background: white!important;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.delete-comment-modal-body button:nth-child(2n):hover {
  background: dodgerblue!important;;
  border: 1px solid dodgerblue;
  color: white;
}


/* ----------------------Edit Poll Waning Modal---------------------------------------- */

.edit-warning-modal-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    z-index: 1001;
    top: 0px;
    left: 0px;
    display: none;
}

.edit-warning-modal-container {
    width: 400px;
    min-height: 200px;
    border-radius: 10px;
    margin: 100px auto;
    background: white;
    overflow: hidden;
    transform: scale(1);
    animation: showHoot .2s ease 0s 1;
}

@keyframes showHoot {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


.edit-warning-modal-header {
    background: lightcoral;
    color: white;
    padding: 10px;
    position: relative;
    text-indent: 32px;
}

.close-edit-warning-container {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #000;
    transition-duration:.3s;
}
.close-edit-warning-container:hover {
  color:white;
}
.edit-warning-modal-body {
    padding: 20px;
}

.edit-warning-modal-body input {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    border:1px solid #aaa;
    margin-bottom:20px;
}

.edit-warning-modal-body button {
    width: 45%;
    margin-top: 20px;
    margin-right: 12px;
    padding: 10px 0px;
    font-family: sans-serif;
}

.edit-warning-modal-body button:first-child {
  background: white!important;
  border: 1px solid red;
  color: red;
}
.edit-warning-modal-body button:first-child:hover {
  background: red!important;
  border: 1px solid red;
  color: white;
}
.edit-warning-modal-body button:nth-child(2n) {
  background: white!important;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.edit-warning-modal-body button:nth-child(2n):hover {
  background: dodgerblue!important;;
  border: 1px solid dodgerblue;
  color: white;
}


/* ------------------------------------------------------- */

.face-overlay {
  position:relative;
  z-index:99;
}

.fade-overlay::after {
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    line-height:250px;
    padding-top:0px;
    font-size:24px;
    background: #ffffffb5;
    color:#ff24f9;
    z-index:100;
    /* animation: changeColor 2s linear infinite alternate; */
    /*     opacity:.5; */
}


.fade-overlay::before {
    /* content:"Plsease Wait...";
    z-index: 101;
    font-size:14px;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    padding: 3px 5px;
    background: black;
    color: white;
    border-radius: 5px;
    margin-top: 150px;
    text-align: center;
    margin: 130px 50%;
    transform: translateX(-50%); */
}

@keyframes changeColor {
    0%{
        color:#ff24f9;
    }
    50%{
        color:purple;
    }

    100%{
        color:dodgerblue;
    }
}


.whoVotted-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
    display: none;
}


/* ---------------------------------------------------------------------------------------------- */



.sidebar {
    width: 20%;
    min-width: 250px;
    background: #ececec;
}

.sidebar form div label::before {
    content:"";
    width:10px;
    height:100%;
    position:absolute;
    top: 0px;
    left:-10px;
    background: #ececec;
    z-index: 3;
}
.sidebar form div label::after {
    content:"";
    position:absolute;
    top: 31px;
    left: -7px;
    /* background:silver; */
    border: 7px solid transparent;
    border-left: 7px solid #b6b6b6;
    transform: rotate(-406deg);
    z-index: 1;
}

.tpc-header::before {
    content:"";
    width:10px;
    height:100%;
    position:absolute;
    top: 0px;
    left:-10px;
    background: #ececec;
    z-index: 3;
}
.tpc-header::after {
    content:"";
    position:absolute;
    top: 31px;
    left: -7px;
    /* background:silver; */
    border: 7px solid transparent;
    border-left: 7px solid #b0b0b0;
    transform: rotate(-406deg);
    z-index: 1;
}


.sidebar .top-polls-container {
    max-height: 300px;
}
.sidebar .tpc-header {
    background: silver;
    padding: 10px;
    /* margin-top: 1px; */
}

.sidebar .tpc-body {
    background: #ffff;
    padding:10px;
    border: 1px solid #aaa;
}
.sidebar .tpc-body .top-poll {
    background: #eaeaea;
    border:1px solid #aaa;
    /* padding: 5px; */
    margin: 5px;
    border-radius: 4px;
}

.sidebar .tpc-body .top-poll .top-poll-title {
    max-height: 47px;
    overflow: hidden;
    padding: 6px;
    background: #f4f4f4;
    border-bottom: 1px dotted #ccc;
}
.sidebar .tpc-body .top-poll .top-poll-info {
    background: #f4f4f4;
    font-size: 13px;
    text-align: end;
    padding: 5px 5px 5px 0px;
}


/* Recent Polls */


.rpc-header::before {
    content:"";
    width:10px;
    height:100%;
    position:absolute;
    top: 0px;
    left:-10px;
    background: #ececec;
    z-index: 3;
}
.rpc-header::after {
    content:"";
    position:absolute;
    top: 31px;
    left: -7px;
    /* background:silver; */
    border: 7px solid transparent;
    border-left: 7px solid #b6b6b6;
    transform: rotate(-406deg);
    z-index: 1;
}


.sidebar .recent-polls-container {
    margin-top: 78px;
    max-height: 300px;
}
.sidebar .rpc-header {
    background: linear-gradient(-69deg, #ccc, #eee);
    padding: 10px;
    /* margin-top: 1px; */
}

.sidebar .rpc-body {
    background: #ffff;
    padding:10px;
    border: 1px solid #aaa;
}
.sidebar .rpc-body .recent-poll {
    background: #eaeaea;
    border:1px solid #aaa;
    /* padding: 5px; */
    margin: 5px;
    border-radius: 4px;
}

.sidebar .rpc-body .recent-poll .recent-poll-title {
    max-height: 47px;
    overflow: hidden;
    padding: 6px;
    background: #f4f4f4;
    border-bottom: 1px dotted #ccc;
}
.sidebar .rpc-body .recent-poll .recent-poll-info {
    background: #f4f4f4;
    font-size: 13px;
    text-align: end;
    padding: 5px 5px 5px 0px;
}

/* /Recent Polls */
