* {
    box-sizing: border-box;
    /*     overflow: hidden; */
}

input[type='checkbox'] {
    transform: scale(1.5);
    margin-top: 18px;
}

button,input[type='checkbox'] {
    cursor: pointer;
}

button:active {
    background: #ccc;
}

a,.show-more {
    text-decoration: none;
    color: dodgerblue;
    cursor: pointer;
}

a:hover,.show-more:hover {
    text-decoration: underline;
}

body {
    overflow-y: scroll;
    background-color: #f7fbf5;
    margin: 0px;
    padding: 0px;
}

.navbar .dashboard {
    background: dodgerblue;
    color: white;
}

.container {
    margin: 80px auto;
    background: white;
    padding: 20px;
    width: 80%;
    display: flex;
    box-shadow: 0px 0px 16px #aaaabb57;
    overflow-y: auto;
    justify-content: space-between;
}

#votted-poll-list {
    width: 186px;
    /* padding: 5px; */
    padding-top: 0;
    /* border:1px solid rgba(30, 143, 255, 0.562); */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #ccc;
    max-height: 400px;
    height: 400px;
    overflow: hidden;
    transition: .3s ease-out;
}

#votted-poll-list .vpl-header {
    background: black;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    padding: 20px 17px;
    text-align: left;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
}

.vpl-header > span {
    transform: rotate(0deg);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 2px;
    font-size: 24px;
    transition: .3s ease-in;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 35px;
    background: white;
    border-radius: 50%;
}

#votted-poll-list .vpl-body {
    text-align: center;
    max-height: 310px;
    overflow: auto;
}

#votted-poll-list .vpl-body .vote {
    text-align: left;
    padding: 8px;
    padding-right: 5px;
}

#votted-poll-list .vpl-body .vote {
    text-align: left;
    padding: 11px;
    padding-right: 5px;
}

#votted-poll-list .vpl-body .vote:nth-child(odd) {
    background: #ecf7ff;
}

/* ----------------------------------------------- */
#created-poll-list {
    margin-right: 20px;
    min-width: 687px;
    /* padding: 5px; */
    padding-top: 0;
    /* border:1px solid rgba(255, 30, 180, 0.562); */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 60px;
    height: 400px;
    transition: .2s cubic-bezier(0.4, 0, 1, 1);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #ccc;
}

#created-poll-list .cpl-header {
    background: black;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    padding: 21px 0px;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

#created-poll-list .cpl-body {
    text-align: center;
    /* max-height: 0px; */
    overflow-y: auto!important;
}

#created-poll-list .cpl-body .poll {
    text-align: left;
    padding: 8px;
    padding-right: 5px;
    position: relative;
}

#created-poll-list .cpl-body .poll:nth-child(odd) {
    position: relative;
    background: #fff1f1;
}

.poll-name {
    display: inline-block;
    width: 45%;
    padding-right: 18px;
}

.poll-stats {
    display: inline-block;
    width: 26%;
}

.poll-control {
    display: inline-block;
    width: 25%;
}

.poll-control button {
    text-align: center;
    margin-bottom: 5px;
    margin: 2px;
    margin-left: 6px;
    padding: 5px 7px;
    box-shadow: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .5px;
    text-shadow: unset;
    width: 74px;
}

.delete {
    color: white;
    background: #cd0000;
}

.delete:hover {
    background: rgb(110, 0, 0);
}

.edit {
    background: cornflowerblue;
}

.edit:hover {
    background: rgb(85, 126, 202);
}

.private {
    background: green;
}

.private:hover {
    background: rgb(1, 87, 1);
}

.analyze {
    background: indigo!important;
    color: white;
}

.poll-stats small {
    color: #6e6e6e;
    font-size: 13px;
    font-weight: bold;
    /* font-family:sans-serif; */
}

/* --------------------------------------------------------- */
.proposed-poll-option {
    min-width: 300px;
    width: 300px;
    /* height: 400px; */
    /* padding: 5px; */
    padding-top: 0;
    /* border:1px solid rgba(30, 143, 255, 0.562); */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #ccc;
    max-height: 400px;
    height: 400px;
    overflow: hidden;
    transition: .3s ease-out;
    position: relative;
}

.proposed-poll-option .ppo-header {
    background: black;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    padding: 20px 17px;
    text-align: left;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
}

.proposed-poll-option .ppo-body {
    text-align: center;
    max-height: 310px;
    overflow: auto;
    position: relative;
    z-index: 1;
    padding-bottom: 5px;
}

.ppo-body .poption {
    text-align: left;
    padding: 11px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.ppo-body .poption:nth-child(odd) {
    background: #ecf7ff;
}

.proposed-poll-option > div.ppo-body > div > div > button {
    margin-top: 20px;
    padding: 6px 15px;
    opacity: .8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-right: 3px;
    /* margin-left: 3px; */
    position: unset;
    transform: unset;
}

.proposed-poll-option > div.ppo-body > div > div > button:hover {
    opacity: 1;
}

.face-overlay {
    position: relative;
    z-index: 99;
}
.face-overlay::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 250px;
    padding-top: 0px;
    font-size: 24px;
    background: #ffffff;
    color: #ff24f9;
    z-index: 100;
    opacity: 0.7;
}

/* ----------------------------------------------------------------- */
