* {
    box-sizing: border-box;
/*     overflow: hidden; */
}
button,input[type='checkbox'] {
    cursor:pointer;
}
button {
    padding: 4px 13px;
    outline: none;
    border: none;
    border-radius: 3px;
    transform: translateY(-8px);
    box-shadow: none;
    /* background: #4c7fdb; */
    color: white;
    margin-right: 13px!important;
    /* font-family:verdana; */
    font-weight:500!important;
}
button:hover {
    background:#2a68d3;
}
input[type="checkbox"] {
    position: absolute;
    top: 50%;
    transform: translate(-38%, -39%) scale(1.5);
    -webkit-transform-origin-x: center;
    margin:0px;
}
.hideAni {
    box-shadow: none;
    transition: all .5s;
    transform: rotateY(0deg);
/*     transform: rotateY(102deg); */
    animation:hideAni 1s ease;
    opacity: 0;
}
@keyframes hideAni {
    0%{
        transform: rotateY(0deg) scale(1);
        opacity: 1;        
    } 
    70%{
        opacity: 0;
    }
    100%{
        transform: rotateY(360deg) scale(0); 
    }
}

input[type="checkbox"]:hover {
    cursor: pointer;
    animation: shaker 1s cubic-bezier(0, 2.13, 0.68, 1.79) infinite;
}

@keyframes shaker{
    0%{
        transform:translate(-38%, -39%) scale(1.5);
    }
    50%{
        transform:translate(-38%, -39%) scale(1.8);
    }
    100%{
        transform:translate(-38%, -39%) scale(1.5);
    }
}

button:active {
    background:#ccc;
}
a,.show-more {
    text-decoration:none;
    color: #1e90ffbd;
    cursor: pointer;
}
a:hover,.show-more:hover {
    text-decoration: underline;
}
body {
    overflow-y: auto;
    background-color: #f7fbf5;
    margin: 0px;
    padding: 0px;
}

/* .navbar {
    background: white;
    box-shadow: 0 5px 10px #eee;
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0px;
    z-index:100;
}
 */

.navbar .nav-item:hover {
    background: dodgerblue;
    color:white;
}
.navbar .nav-item a {
    text-decoration:none;
}

.navbar .home {
    background:dodgerblue;
    color:white;
}

.container {
    margin: 80px auto;
    background: white;
    padding: 20px;
    width: 80%;
    display: flex;
    box-shadow: 0px 0px 2px #aaaabb;
    overflow-y: auto;
    /* overflow-x: hidden; */
    padding-bottom: 20px;
    position: relative;
}

.main-content {
    width:80%;
    /* background: orange; */
    /* display: flex; */
    perspective: 1957px;
    padding-bottom: 110px;
}
.sidebar {
    width: 20%;
    min-width: 250px;
    background: #ececec;
}
.sidebar form div label::before {
    content:"";
    width:10px;
    height:100%;
    position:absolute;
    top: 0px;
    left:-10px;
    background: #ececec;
    z-index: 3;
}
.sidebar form div label::after {
    content:"";
    position:absolute;
    top: 31px;
    left: -7px;
    /* background:silver; */
    border: 7px solid transparent;
    border-left: 7px solid #b6b6b6;
    transform: rotate(-406deg);
    z-index: 1;
}

.tpc-header::before {
    content:"";
    width:10px;
    height:100%;
    position:absolute;
    top: 0px;
    left:-10px;
    background: #ececec;
    z-index: 3;
}
.tpc-header::after {
    content:"";
    position:absolute;
    top: 31px;
    left: -7px;
    /* background:silver; */
    border: 7px solid transparent;
    border-left: 7px solid #b6b6b6;
    transform: rotate(-406deg);
    z-index: 1;
}


.sidebar .top-polls-container {
    /* max-height: 300px; */
}
.sidebar .tpc-header {
    background: linear-gradient(-69deg, #ccc, #eee);
    padding: 10px;
    /* margin-top: 1px; */
}

.sidebar .tpc-body {
    background: #ffff;
    padding:10px;
    border: 1px solid #aaa;
}
.sidebar .tpc-body .top-poll {
    background: #eaeaea;
    border:1px solid #aaa;
    /* padding: 5px; */
    margin: 5px;
    border-radius: 4px;
}

.sidebar .tpc-body .top-poll .top-poll-title {
    max-height: 47px;
    overflow: hidden;
    padding: 6px;
    background: #f4f4f4;
    border-bottom: 1px dotted #ccc;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar .tpc-body .top-poll .top-poll-info {
    background: #f4f4f4;
    font-size: 13px;
    text-align: end;
    padding: 5px 5px 5px 0px;
}

/* Recent Polls */


.rpc-header::before {
    content:"";
    width:10px;
    height:100%;
    position:absolute;
    top: 0px;
    left:-10px;
    background: #ececec;
    z-index: 3;
}
.rpc-header::after {
    content:"";
    position:absolute;
    top: 31px;
    left: -7px;
    /* background:silver; */
    border: 7px solid transparent;
    border-left: 7px solid #b6b6b6;
    transform: rotate(-406deg);
    z-index: 1;
}


.sidebar .recent-polls-container {
    margin-top: 78px;
    max-height: 300px;
}
.sidebar .rpc-header {
    background: linear-gradient(-69deg, #ccc, #eee);
    padding: 10px;
    /* margin-top: 1px; */
}

.sidebar .rpc-body {
    background: #ffff;
    padding:10px;
    border: 1px solid #aaa;
}
.sidebar .rpc-body .recent-poll {
    background: #eaeaea;
    border:1px solid #aaa;
    /* padding: 5px; */
    margin: 5px;
    border-radius: 4px;
}

.sidebar .rpc-body .recent-poll .recent-poll-title {
    max-height: 47px;
    overflow: hidden;
    padding: 6px;
    background: #f4f4f4;
    border-bottom: 1px dotted #ccc;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar .rpc-body .recent-poll .recent-poll-info {
    background: #f4f4f4;
    font-size: 13px;
    text-align: end;
    padding: 5px 5px 5px 0px;
}
/* load More Button */
.load-more-button {
    background: linear-gradient(-4deg, dodgerblue, #1e90ff94);
    color: white;
    text-align: center;
    min-width: 40%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    cursor: pointer;
    /* padding-top: 100px; */
    border-radius: 50px;
    transform: translateX(-50%);
    box-shadow: 2px 2px 10px #aaa;
}
.load-more-button:hover {
    background: linear-gradient(to bottom, lightcoral, #f88d8dc7);
}

/* /Recent Polls */

.poll-overlay::after {
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    line-height:250px;
    padding-top:0px;
    font-size:24px;
    background:#ffffffa6;
    color:#ff24f9;
    z-index:20;
    animation: changeColor 2s linear infinite alternate;
/*     opacity:.5; */
}


.poll-overlay::before {
    content:"Plsease Wait...";
    z-index: 21;
    font-size:24px;
    position:absolute;
    top:0px;
    left:0px;
    width:200px;
    padding: 3px 5px;
    background: black;
    color: white;
    border-radius: 5px;
    margin-top: 150px;
    text-align: center;
    margin: 130px 50%;
    transform: translateX(-50%);
}
@keyframes changeColor {
    0%{
        color:#ff24f9;
    }
    50%{
        color:purple;
    }

    100%{
        color:dodgerblue;
    }
}

.poll {
    min-width:280px;
    width: 30%;
    text-align: center;
    /* padding: 10px; */
    border-radius: 3px;
    /* float: left; */
    border: 1px solid #aaaaaa91;
    margin: 10px;
    box-shadow: -2px 2px 22px #bbb;
    position:relative;
    display: block;
    float: left;
    max-height: 700px;
    overflow: hidden;
    transition: all 1s linear;
}
.poll .poll-header {
    width: 100%;
    padding: 14px 28px;
    padding-left: 15px;
    background: linear-gradient(-69deg, #ccc, #eee);
    color: #000000d4;
    font-size: 20px;
    position: relative;
    text-align: justify;
    font-weight: bold;
    /* text-shadow: 0px 2px 5px #aaaaaabf; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 1px;
    position: relative;
}

.poll-tool-option {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    color: rgb(22, 22, 22);
    cursor: pointer;
}
.poll-tool-option:hover {
    color:dodgerblue;
    text-shadow: 0px 0px 5px #aaa;
}
.flaticon-settings:before {
    font-size: 19px;
}

.disappear {
  animation: dis .3s linear 0s infinite!important;
}
@keyframes dis {
  0%{
    height:100px;
  }
  100%{
    height:0px;
  }
}
.poll-tool-container {
    background: white;
    position: absolute;
    top: 27px;
    /* left:100px; */
    right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 108px;
    height: 95px;
    box-shadow: -11px 15px 10px #707070;
    z-index: 1;
    /* max-height: 0px!important; */
    transition: all .3s ease-in-out;
    /*     min-height: 100px!important; */
    animation: htcani .3s cubic-bezier(0, 0, 0, 1.46) 0s 1;
    display: none;
    /* overflow: hidden; */
}
.close-poll-tool-container{
    position: absolute;
    /* display: none; */
    top: 0px;
    left: 0px;
    /* margin-left: -50%; */
    transform: translate(-50%, -50%);
    /* margin-top: -52%; */
    background: lightcoral;
    padding: 2px 5px;
    border-radius: 50%;
    color: white;
    font-size: 13px;
    cursor: pointer;
    font-weight: bol;
}

.close-poll-tool-container:hover{
    border:1px solid red;
    color:red;
    background:white;
}
@keyframes htcani {
    0% {
        height:0px;
    }
    100% {
        height:100px;
    }
}

.tool-option {
    border-bottom: 1px solid #ccc;
    text-align: left;
    text-indent: 10px;
    color: rgba(30, 143, 255, 0.692);
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0px;
}
.tool-option:last-child {
    border-bottom:unset;
}
.tool-option:hover {
    background: rgba(30, 143, 255, 0.08);
}
.saved-poll {
    color: white;
    background: dodgerblue;
    cursor: default;
    padding-left: 15px;
    text-shadow:0px 0px 5px white;
}
.saved-poll:hover {
    color: white;
    background: dodgerblue;
    cursor: default;
    padding-left: 15px;
    
}
.poll .poll-body {
    width: 100%;
    background: #f9f9fd;
}

.option {
    width: 100%;
    /* background: green; */
    display: block;
    /* padding: 5px 0px; */
    border-bottom: 1px solid #c8c8c8;
    /* max-height: 41px; */
}

.option .option-checkbox {
    width: 13.5%;
    height: 56px;
    /* background: red; */
    float: left;
    /* border-right: 1px solid #c8c8c8; */
    /* border-bottom: 1px solid blue; */
    /* padding: 5px 0px; */
    /* padding-top: 0px; */
    position: relative;
}
.option .option-name {
    /* max-width: 230px; */
    width: 86%;
    background: white;
    padding: 15px 0px;
    padding-top: 10px;
    text-align: left;
    /* text-indent: 15px; */
    padding-left: 10px;
    font-size:14px;
    font-family: vardana;
    border-left: 1px solid #c8c8c8;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(90deg,rgba(128, 125, 147, 0.15),rgba(128, 125, 147, 0.15));
    background-size: 10%;
    background-repeat:no-repeat;
    /* transition:1s linear; */
    box-shadow: inset 0px 0px 20px #3126262e;
}
.option:last-child {
    border-bottom:none;
}
.vote-percentage {
    transition:color .15s linear;
}
.vote-percentage:hover {
    color: lightcoral!important;
}

.expand-poll {
    display: inline-block;
    /* border:1px solid blue; */
    border-radius: 4px;
    background: #4caf50;
    /* position: absolute; */
    bottom: 5px;
    right: 5px;
    padding: 1px 5px;
    font-size: 18px;
    cursor:pointer;
    color:white;
    transform: scaleX(-1);
    shape-outside: polygon(10px);
}

.expand-poll:hover {
    background: #0000004d;    
}



button.add-new-option-button {
    margin: 0px!important;
    /* padding: 0px; */
    position: relative;
    top: 4px;
    left: 7px;
    transform: unset;
    width: 11%;
    height: 30px;
    background: #dbe1ea70!important;
    font-size: 15px;
    font-weight: bold!important;
    text-align: center;
    color: #1e90ff4f;
    border-radius: 4px;
    padding: 4px 0px;
    box-sizing: border-box;
    border: .5px solid #1e90ff4f;
    transition:all .1s linear;
}
button.add-new-option-button:hover {
/*     background:#1e90ff4f; */
    color:dodgerblue;
    border: .1px solid dodgerblue;
}
button.cancel-new-option-button {
    margin: 0px!important;
    /* padding: 0px; */
    position: unset;
    transform: unset;
    height: 30px;
    background: #dbe1ea70!important;
    font-size: 15px;
    font-weight: bold!important;
    text-align: center;
    color: lightcoral;
    background: rgba(240, 128, 128, 0.404);
    border-radius: 0;
    padding: 0px 8px;
    padding-right: 10px;
    box-sizing: border-box;
    border: .1px solid #1e90ff4f;
    transition:all .1s linear;
    border-radius: 4px;
    border: .5px solid;
    position: relative;
    background: white!important;
    top: 5px;
    left: 7px;
}

button.cancel-new-option-button:hover {    
    background: rgba(240, 128, 128, 0.027)!important;
}

input.add-new-option {
    width: 70%;
    padding: 8px 5px;
    margin: 0px;
    padding: 0px;
    text-indent: 10px;
    margin-left: 12px;
    margin-right: 9px;
    margin-top: 2px;
    /* width: 100%; */
    height: 88%;
    border: none;
    transition: width .4s ease-in-out;
    outline: none!important;
    /* border-radius: 22px; */
}
input.add-new-option:focus {
/*     outline:none; */
/*     border:1px solid #1e90ffbf; */
    box-shadow:0px 0px 5px #1e90ffc2;
}
.poll-addnew-option-box {
    display: flex;
    /* margin-bottom: 10px; */
    transition: all .4s ease-in-out;
    transform: translateX(-87%);
    height: 38px;
    line-height: 36px;
}


.poll-info-box {
    width: 100%;
    height: 90px;
    margin: 0px;
    padding: 10px 0px;
    background: linear-gradient(10deg,#fff,#efefef);
    position: relative;
    border-top: 1px solid #c8c8c8;
}

.poll-info-box .right .line {
    /* margin: 100px auto; */
    color: white;
    display: inline-block;
    /* border-top: 50px solid indigo; */
    /* border-left: 50px solid red; */
    /* border-right: 50px solid beige; */
    /* border-bottom: 50px solid green; */
    width: 150px;
    height: 4px;
    overflow: hidden;
    position: absolute;
    left: 0px;
}

.poll-info-box .right .left {
    height: 4px;
    background: #b0c9b2;
    width: 107px;
    /* display: inline-block; */
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    /* transition: 1s ease; */
}

.poll-info-box .right .right {
    height: 4px;
    background: #f0b3b3;
    width: 42px;
    display: inline-block;
    float: left;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.poll-info-box .left img {
    border-radius: 2px;
    box-shadow: 2px 2px 3px #e6e6e6;
    border: 3px solid white;
}
.poll-info-box .left a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    display: block;
    margin: 0px;
    margin-top: -4px;
    font-weight: bold;
}
.poll-info-box .right {
    width:60%;
    height: 100%;
    float: left;
    /* background: rgba(0, 128, 0, 0.102); */
    margin-top: 0px;
    position: relative;
    /* margin-left: 0px; */
}
.poll-info-box .left {
    width: 40%;
    height: 100%;
    float: left;
    /* background: rgba(255, 0, 0, 0.041); */
    /* margin-right: 33px; */
    position: relative;
}

.poll-info-box .right .vote-line {
    width: 180px;
    height: 2.5px;
    background: transparent;
    border-left: 80px solid #00800069;
    border-right: 100px solid #ff000070;
    margin-top: 5px;
}
.vote-like-dislike-box {
    width: 100%;
    height: 50px;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
    /* margin-right: -5px; */
    display: flex;
    justify-content: end;
    padding-right: 2px;
    margin-top: 15px;
}
.vote-like-dislike-box .poll-like-button {
    /* width: 53px; */
    /* height: 25px; */
    /* line-height: 25px; */
    display: inline-block;
    /* color: #1e90ffb8; */
    /* background: url('../img/logo/like.svg'); */
    /* border: 1px solid #1e90ffb8; */
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.vote-like-dislike-box .poll-like-button:hover {
    /* box-shadow:inset 0px 0px 20px #1e90ff2c; */
}
.vote-like-dislike-box .poll-dislike-button {
    /* width: 54px; */
    height: 25px;
    line-height: 25px;
    display: inline-block;
    color: #ff0000ba;
    color: black;
    margin-right: 5px;
    /* border: 1px solid #ff0000ba; */
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.vote-like-dislike-box .poll-dislike-button:hover {
    /* box-shadow:inset 0px 0px 20px #ff000018; */
}
.poll-tag-date {
    display: flex;
    justify-content: space-between;
}
.poll-tag-date .poll-birthdate {
    display: inline-block;
    font-size: 12px;
    color: rgb(119, 119, 119);
    /* font-style: italic; */
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    margin-right: 10px;
}
.poll-tag-date .poll-tags {
    display: inline-block;
    font-size: 12px;
    color: rgb(119, 119, 119);
    /* font-style: italic; */
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    margin-left: 10px;
}
.poll-liked {
    background: dodgerblue;
    color:white!important;
}
input#comment-box {
    border-radius: 3px;
    border: none;
    padding: 4px 0px;
    text-indent: 10px;
    height: auto;
}

.poll-comments {
    background: linear-gradient(-69deg, #ccc, #eee);
    /* padding: 0px 0 10px 0px; */
    border-top: 15px solid #587088;
    /* max-height: 300px; */
    /* overflow-y: auto; */
}
.poll-comments-header {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background: linear-gradient(10deg,#fff,#efefef);
}
.comments {
    text-align:start!important;
    max-height: 300px;
    overflow-y: auto;
}
.comments > div:first-child {
    padding: 4px 9px;
    color: black;
    /* background: #00000024; */
    display: inline-block;
    border-radius: 5px;
}


button:active {
    box-shadow:none;
}
textarea {
    margin-top:10px;
    outline:none;
    padding:5px;
    border-radius:3px;
    font-size: 13px;
    width: 227px;
    resize: vertical;
    word-spacing: 0px;
}
textarea:focus {
    box-shadow:inset 0px 0px 1px #1e90ff8f;
    transition-duration: .3s;
    border: 1px solid dodgerblue;
    box-shadow: 0px 0px 7px #1e90ffbf;
}
.comment-lebel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-decoration:underline; */
    background: linear-gradient(-69deg, #ccc, #eee);
    color: black;
    padding: 0px 2px;
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.178);
    word-spacing: -3px;
    font-size:16px;
    text-align:left;
    margin:5px 4px;
}

.comment {
    width: 100%;
    border-bottom:1px dotted olive;
    /* background: purple; */
    min-height: 60px;
    padding:0px;
    overflow: hidden;
    position: relative;
}
.comment:last-child{
    border-bottom:none;
}
.commentor-avatar {
    display: block;
    width: 18%;
    /* background: red; */
    float: left;
    max-height: 60px;
    overflow: hidden;
}
.comment-body {
    display: block;
    background: #ffffffe8;
    width: 82%;
    min-height: 60px;
    float: left;
    font-size: 13px;
    line-height: 14px;
    padding:10px;
    text-align:justify;
    font-family: sans-serif;
    position: relative;
}
.comment-body .delete-comment {
    display: inline-block;
    border-radius:4px;
    /* color:orange; */
    background: white;
    position: absolute;
    right:5px;
    top:50%;
    transform: translateY(-50%);
    padding: 4px 2px;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border:1px solid black; */
    display: none;
}

.comment-body .delete-comment:hover {
    /* background: orange; */
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.comment-body .delete-comment:active {
    color: BLACK;
    background: white;
}
.comment-body:hover .delete-comment {
    display: inline-block;
}
.flaticon-garbage::before{
    font-size: 19px;
}
.user-link {
    color:dodgerblue;
    font-size: 15px;
    /* letter-spacing: 0.001px; */
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
}

.comment-full {
    display: none;
}


.whoVotted-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
    display: none;
}

.whoVotted-overlay .whoVotted-container {
    min-width: 100px;
    width: 250px;
    min-height: 200px;
    overflow: auto;
    background: white;
    margin: 150px auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    animation: showHoot .35s ease 0s 1;
    box-shadow: 46px 49px 44px #5a5a5a;
}

@keyframes showHoot {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.whoVotted-container-wait-opverlay::before {    
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    line-height:250px;
    padding-top:0px;
    font-size:24px;
    background:#ffffff;
    color:#ff24f9;
    z-index:100;
}

.whoVotted-container-wait-opverlay::after {
    content:"Plsease Wait...";
    z-index: 101;
    font-size:14px;
    position:absolute;
    top:0px;
    left:0px;
    width:120px;
    padding: 3px 5px;
    background: white;
    border: 1px solid #00000066;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    margin: 30px 50%;
    transform: translateX(-50%);
    animation: changeColor 2s linear infinite alternate;
}

.whoVotted-header {
    background: dodgerblue;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    text-indent: 20px;
    color: white;
    font-weight: verdana;
    position: relative;
}

.close-whoVotted-container {
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;
    color: white;
    padding: 3px;
}
.close-whoVotted-container:hover {
    color: black
}
.whoVotted-container .voters {
    padding: 10px;
    padding-bottom: 50px;
    max-height: 600px;
    overflow: auto;
}
.whoVotted-container .voter  {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    /* border-bottom: 1px solid silver; */
}

.whoVotted-container .voter:last-child  {
   margin-bottom:30px;
}
.whoVotted-container .voter img {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.whoVotted-container .voter strong {
    display: inline-block;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-shadow: 0px 0px 2px #aaa;
}
#shootButton {
    background: -webkit-linear-gradient(top, #f8f8f8, #d8d8d8)!important;
    color:rgba(61, 61, 61, 0.876)!important;
    border-radius: 4px!important;
    border:1px solid #aaa!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#shootButton:active {
    background: -webkit-linear-gradient(bottom, #f8f8f8, #d8d8d8)!important;
    border:1px solid #bbb!important;

}

.comment-delete-fade-overlay::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.637);
    position: absolute;
    top:0px;
    left:0px;
}

.poll-tag-date {
    width: 100%;
    /* height:30px; */
}


.search-box {
    width: 100%;
    min-height: 104px;
    background: rgb(255, 255, 255);
    position: relative;
    padding: 10px;
    padding-bottom: 30px;
    border: 1px solid #aaa;
    border-bottom: none;
}
.search-box #searchkey {
    width: 100%;
    display: block;
    padding: 10px;
    /* left: 50%; */
    top: 5px;
    margin-bottom: 10px;
    position: relative;
    /* transform: translateX(-50%); */
    border-radius: 8px;
    border: 0;
    outline:none;
    border:1px solid transparent;
    transition:all .4s;
    background: #ddd;
}
.search-box #searchkey:focus {
    border:1px solid dodgerblue;
    box-shadow:0px 0px 7px dodgerblue;
}

.search-box button {
    margin: unset;
    padding: unset;
    top:unset;
    left: unset;
    transform: unset;
    width: 100%;
    padding: 9px 0px;
    /* margin:10px auto; */
    /* left: 50%; */
    top: 5px;
    position: relative;
    /* transform: translateX(-50%); */
    border-radius: 9px;
    border:#aaa;
    font-size: 18px;
}


.top-polls-container {
    width: 100%;
    min-height: 300px;
    background: #eee;
}

.top-polls-container  {

}


.AddNewOptionInput {
    width:86%!important;
    /* border:1px solid dodgerblue!important; */
    border-radius: 20px!important;
}

.showAddNewOption {
    transform: translateX(-3px);
}


#onload-overlay {
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, #ffffff9e, #ffffff8a);
    top:0px;
    left: 0px;
    z-index: 100;
    opacity: 1;
}
.loadOverlayFadeAni {
    animation: loadOverlayFadeAni .7s linear 1;
}
.loader-text {
    width: 350px;
    background: black;
    display: inline-block;
    font-size: 28px;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    z-index: 101;
    opacity: 1;
    position: absolute;
    bottom: 15%;
    left: 50%;
    /* bottom: 50px; */
    transform: translateX(-50%);
}
#snackbar {
    width:350px;
    background:white;
    color:lightcoral;
    border:1px solid lightcoral;
    font-size:19px;
    font-family:sans-serif;
    padding:15px 15px;
    position: fixed;
    top: -115px;
    border-radius: 5px;
    box-shadow:3px 3px 10px #aaa;
    left:43%;
    transform:translateX(-50%);
    z-index: 110;
    animation: snackbar 5s linear 1;
    display:none;
}

@keyframes snackbar {
    0%{
        top:-115px;
        opacity:0;
    }
    10%{
        top:115px;
        opacity:1;
    }
    90%{
        top: 115px;
        opacity:1;
    }
    100%{
        top:-115px;
        opacity:0;
    }
}
#suspension {
    height: 1px;
    display: block;
    position: relative;
    float: left;
    transition: all 1s ease;
}

@keyframes loadOverlayFadeAni {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* Media Quaries */

@media screen and (max-width: 1115px) {
  .container {
    width:80%;
  }
  .poll {
    min-width: 380px;
  }
}

@media screen and (max-width: 1190px) { 
  .poll {
    min-width: 260px;
  }
}
@media screen and (min-width: 1190px) {
  .container {
    width:96%;
  }
  .poll {
    min-width: 300px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width:85%;
  }
  .poll {
    min-width: 340px;
    /* margin-left: 50%; */
  }
}

@media screen and (min-width: 1500px) {
  .container {
    width:85%;
  }
  .poll {
    min-width: 300px;
  }
}
