* {
    box-sizing: border-box;
/*     overflow: hidden; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e90ff42;
    border-radius: 3px;
    cursor:pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1e90ff9c;
}


button,input[type='checkbox'] {
    cursor:pointer;
}
button {
    padding: 4px 13px;
    outline: none;
    border: none;
    border-radius: 3px;
    transform: translateY(-8px);
    box-shadow: 2px 2px 10px #6e6e6e;
    background: #4c7fdb!important;
    color: white;
    margin-right: 13px!important;
    font-family:verdana;
    font-weight:500!important;
}
button:hover {
    background:#2a68d3;
}
input[type="checkbox"] {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    -webkit-transform-origin-x: center;
    margin:0px;
}

input[type="checkbox"]:hover {
    cursor: pointer;
    animation: shaker 1s cubic-bezier(0, 2.13, 0.68, 1.79) infinite;
}

@keyframes shaker{
    0%{
        transform:translate(-50%, -50%) scale(1.5);
    }
    50%{
        transform:translate(-50%, -50%) scale(1.8);
    }
    100%{
        transform:translate(-50%, -50%) scale(1.5);
    }
}

button:active {
    background:#ccc;
}
a,.show-more {
    text-decoration:none;
    color: dodgerblue;
    cursor: pointer;
}
a:hover,.show-more:hover {
    text-decoration: underline;
}
body {
    overflow-y: auto;
    background-color: #f7fbf5;
    margin: 0px;
    padding: 0px;
}




.navbar .nav-item:hover {
    background: dodgerblue;
    color:white;
}
.navbar .nav-item a {
    text-decoration:none;
}
.navbar .nav-item span {
    border:2px solid transparent;
}
.navbar .nav-item:hover span {
/*     border:2px solid white; */
}
.navbar .profile {
    background: #1e90ffa1;
    color:white;
}

.not-count {/* display:none; */
    font-weight:bold;
    padding:0px 5px;
    border-radius:3px;
    background:indigo;
    color:white;
    box-shadow: 0px 0px 10px #ffffffc2;
}
.mas-count {    
    font-weight:bold;
    /* padding:0px 7px; */
    border-radius:50%;
    background:red;
    color:white;
    width: 21px;
    height: 21px;
    text-align: center;
    display: inline-block;
    line-height: 17px;
    box-shadow: 0px 0px 10px #ffffffc2;
    /* visibility: hidden; */
}


.container {
    margin: 120px auto;
    background: white;
    padding: 20px;
    width: 80%;
    min-height: 80vh;
    display: flex;
    /* box-shadow: 0px 0px 16px #aaaabb57; */
    border: 1px solid #ddd;
    overflow-y: auto;
}

.tab-container {
    width: 720px;
    min-height: 300px;
    margin: 0 auto;
    /* border:1px solid rgba(30, 143, 255, 0.596); */
}
.remove-all-saved-poll-button {
    font-size: 14px;
    color: lightcoral;
    cursor: pointer;
    opacity: .7;
}
.remove-all-saved-poll-button:hover {
    opacity: 1;
}

.unhide-all-poll-button {    
    font-size: 14px;
    color: dodgerblue;
    cursor: pointer;
    opacity: .7;
}
.unhide-all-poll-button:hover {
    opacity: 1;

}
.hidden-polls, .saved-polls {
    float: left;
    width: 50%;
    padding: 0px 20px;
    padding-left: 30px;
    transition: all .5s;
    opacity: 1;
    overflow: auto;
    height: 600px;
}
.saved-polls{
    border-right: 1px dotted #0000008f;
}
.hidden-polls{
    transform:translateX(-1px);
    border-left:1px dotted #0000008f;
}
.tab-container .tab-drawer {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content:space-evenly;
}
.tab-switcher {
    line-height: 45px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    width: 30%;
    height: 100%;
    background:rgb(209, 209, 209);
    float: left;
    margin-top: 10px;
    position: relative;
    background: black;
    color: white;
    border: 1px solid black;
    border-bottom: 1px solid #eee;
    /* margin-bottom: 24px; */
    bottom: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    position:relative;
}
.tab-switcher::after {
    content:"";
    width:102%;
    height:2px;
/*     background:red; */
    background:#eee;
    position:absolute;
    top:99%;
    left:-2.5px;

}

.tab-about .profile-picture {
    width: 120px;
    height: 120px;
    border: 8px solid white;
    outline:1px solid #aaa;
    position: relative;
    margin-left: 15px;
    margin-bottom: 20px;
}
.tab-about .profile-picture img{
    width:100%;
    height: 100%;
}
.active {
    background:#eee;
    color: black;
}
.show {
    display: block!important;
}
.tab {

}
.tab-container .tab {
    border: 1px solid black;
    text-align: start;
    padding: 10px;
    padding-top: 25px;
    position: relative;
    width: 100%;
    min-height: 600px;
    display: none;
    background:#eee;
    border-radius: 5px;
    animation:a .5s ease 0s 1;
    overflow: hidden;
    overflow-y: auto;
    text-align:center;
}
@keyframes a {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.about-row {
    width: 400px;
    padding:5px 0px;
    text-align: left;
    text-indent: 10px;
    background: linear-gradient(to left,#ddd, #eee);
    margin: 10px;
    border-top: 2.5px solid #bbbbbb6b;
    border-bottom: 2.5px solid #bbb;
}
.about-row strong {
    border: 1px solid black;
    padding: 0px 3px;
    padding-left: 6px;
    margin: 0px 6px;
    border-radius: 4px;
    margin-left: 0px;
    background: white;
}


.tab-polls .poll {
    width: 214px;
    padding:5px 0px;
    text-align: left;
    text-indent: 10px;
    /* background: linear-gradient(to left,#ddd, #eee); */
    /* background: #f080801a; */
    margin: 10px;
    border-bottom: 2.5px solid #9E9E9E;
}
h3[onclick='updateProfile()'] {
    cursor:pointer;
    color:dodgerblue;
}
h3::after {
    content:"";
    background:#ffffff;
    position:absolute;
    right:0px;
    top:0px;
    width:40px;
    height:100%;
}
h3[onclick]:hover::after {
    background-color:#ffffff;
    box-shadow:5px 0px 10px rgb(255, 255, 255);
    animation: glow .5s cubic-bezier(0.4, 0, 1, 1) 0s infinite alternate;
}
@keyframes glow {
    0%{
        box-shadow:5px 0px 5px rgb(255, 255, 255);        
    }   
    100%{
        box-shadow:5px 0px 30px rgb(255, 255, 255);        
    }
}
h3[onclick='updateProfile()']:hover {
    background-color:dodgerblue;
}

h3[onclick='changePassword()'] {
    color:cornflowerblue;
}
h3[onclick='changePassword()']:hover {
    background-color:cornflowerblue;
}
h3[onclick='deactivateProfile()'] {
    color:black;
}
h3[onclick='deactivateProfile()']:hover {    
    background-color:black;
}

h3[onclick='deleteProfile()'] {
    color:red;
}
h3[onclick='deleteProfile()']:hover {
    background-color:red;
}
h3[onclick] {
    position:relative;
        transition:all .2s linear;
    border: 1px solid;
    width:50%;
    text-align:center;
    display: inline-block;
    padding: 8px 8px;
    border-radius: 4px;
    background:white;
    cursor:pointer;
}
h3[onclick]:hover {
    /* text-shadow: 0px 0px 1px red; */
    /* color: white; */
    /* border: 1px solid; */
    /* display: inline-block; */
    /* padding: 5px 8px; */
    /* border-radius: 3px; */
    color: white;
}


.tab-polls .poll:nth-child(2n) {
    /* background: #8090f01a; */
    border-bottom: 2.5px solid #9E9E9E;
}